<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1><%= articles.title%></h1>
    <p><%= articles.description%></p>
    <p><%= articles.likes%></p>
    <p><%= articles.author%></p>
    <a href="/articles/<%= articles.id%>/edit">
      <button>Edit</button>
    </a>
    <a href="/articles/<%= articles.id%>/delete">
      <button>Delete</button>
    </a>
    <form method="POST" action="/articles/<%= articles.id%>/comments">
      <fieldset>
        <input
          type="text"
          name="comments"
          placeholder="your comments here...."
        />
        <input type="submit" value="add comments" />
      </fieldset>
    </form>
    <%articles.comments.forEach(comment=>{%>
    <p><%= comment.comments%></p>
    <p></p>
    <a href="/articles/<%= articles.id%>/likes">
      <button>like</button>
    </a>
    <a href="/comments/<%= comment.id%>/edit">
      <button>Edit</button>
    </a>
    <a href="/comments/<%= comment.id%>/delete">
      <button>Delete</button>
    </a>
    <%})%>
  </body>
</html>
